@import 'bulma';

.calendar__date {
  @extend .column;
  background-color: $white;
  border: 1px solid $grey-lighter;
  height: 6.44rem;
  padding: 0.15rem 0.45rem;
  text-align: left;
}

.calendar__date--active:hover {
  color: $black;
}

.calendar__date--weekend {
  background-color: $white-ter;
  color: $blue;
}

.calendar__date--out-of-month {
  color: $grey-light;
}

.calendar__date__day {
}

.calendar__date__reminders {
}
