@import 'bulma';

.calendar-day {
  background-color: $white;
  border: 1px solid $grey-lighter;
  color: $black;
  height: 90px;
  text-align: left;
}

.calendar-day--active:hover {
  border: 1px solid $cyan;
  cursor: pointer;
}

.calendar-day--weekend {
  background-color: $white-ter;
  color: $blue;
}

.calendar-day--out-of-month {
  color: $grey-light;
}
